In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\python310\lib\site-packages (1.4.44)
Requirement already satisfied: greenlet!=0.4.17 in c:\python310\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\python310\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import sqlalchemy as db
import psycopg2
import pandas as pd
from sqlalchemy.dialects.postgresql import insert

In [4]:
df_bike = pd.read_csv("bike_info.csv")
df_bike

    Unnamed: 0  bike_id                 bike_name  region_id
0            0      799                 GRID 086          81
1            1     1356                  GRID 182         80
2            2     5032                    M 2264         81
3            3     5046  GRID 402 FIRMWARE RESCUE         80
4            4    10563                 GRID 2007         80
5            5    12749                      T723         80
6            6    12763                      T755         80
7            7    12766                      T756         80
8            8    12786                      T731         80
9            9    12845                      T819         81
10          10    12866                      T837         81
11          11    12869                      T839         81
12          12    12872                      T833         80
13          13    12881                      T782         81
14          14    13042                      T939         80
15          15    13053                      T986         81
16          16    13054                      T987         81
17          17    13069                      T996         80
18          18    13095                      T961         80
19          19    13103                      T933         81
20          20    17318                 GRID 2025         81

In [5]:
df_info = pd.read_csv("station_info.csv")
df_info

,Unnamed: 0,station_id,station_name,region_id,address,num_bikes_available
0,0,290,P127 Central Ave / Roosevelt St,80,"1000-1034 North Central Avenue, Phoenix",9
1,1,297,P131 Central Ave / Willetta St (Sponsored by ...,80,"1401 North Central Avenue, Phoenix",6
2,2,299,P113 11th St. / Washington St,80,"1010-1098 East Washington Street, Phoenix",8
3,3,305,P116 6th St. / Monroe St (Sponsored by SRP),80,"567-599 East Monroe Street, Arizona State Univ...",5
4,4,309,P123 5th Ave / Fillmore St,80,"604, North 5th Avenue, Phoenix, Arizona",6
...,...,...,...,...,...,...
80,80,3264,P168 5th St. and Washington,80,"1-115 South 5th Street, Phoenix",4
81,81,3525,P196 2nd St. and Roosevelt,80,"1021 North 2nd Street, Phoenix",0
82,82,3582,T21 Forest Ave/ Lemon St. (Gammage),81,"1201 South Forest Avenue, Tempe",4
83,83,3583,T32 North Tempe Multigen Center,81,"1555 North Bridalwreath Street, Tempe",5
84,84,3590,T06 McClintock Dr / Rio Salado Pkwy,81,"1807-1809 East Rio Salado Parkway, Tempe",4

In [6]:
df_region = pd.read_csv("system_regions.csv")
df_region

   Unnamed: 0  region_id     name
0           0         81    Tempe
1           1         80  Phoenix

In [7]:
pg_engine = db.create_engine("postgresql://postgres:alya_2412@localhost:5432/postgres")

In [8]:
psycopg2.connect(dbname="postgres", user="postgres", password="alya_2412", host="localhost",port ="5432")

In [13]:
df_bike.to_sql('bike_info', pg_engine)

21

In [12]:
df_info.to_sql('station_info', pg_engine)

85

In [11]:
df_region.to_sql('region_info', pg_engine)

2

In [14]:
connection = pg_engine.connect()
metadata = db.MetaData()

In [38]:
#insert region
pg_engine.execute("INSERT INTO region_info (index, region_id, name) VALUES ('2','82', 'Tucson')")
pg_engine.execute("INSERT INTO region_info (index, region_id, name) VALUES ('3','83', 'mesa')")
pg_engine.execute("INSERT INTO region_info (index, region_id, name) VALUES ('4','84', 'Sedona')")

In [40]:
#Update Region
pg_engine.execute("UPDATE region_info SET name='mesa' WHERE region_id='82'")
pg_engine.execute("UPDATE region_info SET name='Tuscon' WHERE region_id='84'")
pg_engine.execute("UPDATE region_info SET name='sedona' WHERE region_id='83'")

In [42]:
pg_engine.execute("DELETE FROM region_info WHERE region_id='82'")
pg_engine.execute("DELETE FROM region_info WHERE region_id='83'")
pg_engine.execute("DELETE FROM region_info WHERE region_id='84'")

In [44]:
#insert Bike
pg_engine.execute("INSERT INTO bike_info (index, bike_id, bike_name, region_id) VALUES ('21','14361', 'GRID 2026', '80')")
pg_engine.execute("INSERT INTO bike_info (index, bike_id, bike_name, region_id) VALUES ('22','12351', 'GRID 2027', '81')")
pg_engine.execute("INSERT INTO bike_info (index, bike_id, bike_name, region_id) VALUES ('23','14361', 'GRID 2026', '82')")

In [45]:
#Update Bike
pg_engine.execute("UPDATE bike_info SET region_id='82' WHERE bike_name='T996'")
pg_engine.execute("UPDATE bike_info SET region_id='83' WHERE bike_name='T961'")
pg_engine.execute("UPDATE bike_info SET region_id='84' WHERE bike_name='T933'")

In [46]:
#Delete Bike
pg_engine.execute("DELETE FROM bike_info WHERE bike_id='17318'")
pg_engine.execute("DELETE FROM bike_info WHERE bike_id='13054'")
pg_engine.execute("DELETE FROM bike_info WHERE bike_id='13053'")

In [47]:
#insert station
pg_engine.execute("INSERT INTO station_info (index, station_id, station_name, region_id, address, num_bikes_available) VALUES ('85','3591', 'Tucson Amtrak Station', '82', '400 N Toole Ave, Tucson', '10')")
pg_engine.execute("INSERT INTO station_info (index, station_id, station_name, region_id, address, num_bikes_available) VALUES ('86','35100', 'Mesa Dr. / Main St.', '83', 'Dr and main St bus is, Mesa', '1')")
pg_engine.execute("INSERT INTO station_info (index, station_id, station_name, region_id, address, num_bikes_available) VALUES ('87','35120', 'Flagstaff Amtrak', '84', '1 E Rte 66, Flagstaff', '5')")

In [48]:
pg_engine.execute("UPDATE station_info SET station_id='3582' WHERE  num_bikes_available='5'")
pg_engine.execute("UPDATE station_info SET station_id='3583' WHERE  num_bikes_available='4'")
pg_engine.execute("UPDATE station_info SET station_id='3590' WHERE  num_bikes_available='5'")

In [49]:
pg_engine.execute("DELETE FROM station_info WHERE station_name='P147 7th Ave / Glenrosa Ave'")
pg_engine.execute("DELETE FROM station_info WHERE station_name='P122 Grand Ave / McKinley St'")
pg_engine.execute("DELETE FROM station_info WHERE station_name='P138 Encanto Park'")